body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
}

.menu {
    background-color: black;
    color: white;
   text-align: center;
   width:100%;
   height: 4rem;
   opacity: 1;
   font-size: 200%;
   background-size: cover;
}

#img{
    width: 100%;
}

#intermedio {
    background-color: black;
    text-align: center;
}
.texto {
    background-color: black;
    color: white;
    display: inline-block;
    width: 700px;
    vertical-align: middle;

}
.img1 {
    display: inline-block;
    width: 300px;
    vertical-align: middle;  
}
.caret  {
    background-color: #1E1A13;
    text-align: center;
}

.ojo, .pcf, .color {
    display: inline-block;
    width:600px;
    vertical-align: middle;
}
.imagenes{
    text-align: center;
  
}
.imageniguanas{
    display: inline-block;
    width: 630px;
    height: 500px;
    top: 500px;
    vertical-align: middle;
}  

footer {
    background-color: #1E1A13;
    width: 100%;
    height: 100px;
    top: 30px;
}
.texto2 {
    text-align: center;
    font-size: 180%;
}
